.shopcategory-banner{
    display: block;
    margin: 40px auto;
    width: 85%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0 auto;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 22px;
    border-radius: 40px;
    border: 1px solid #888;
    cursor: pointer;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    width: 85%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    width: 220px;
    height: 60px;
    border-radius: 50px;
    background: #ededed;
    color: #555;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}